@model Typeapproval_UI.Models.AdminDashboard

@{
    ViewBag.Title = "Task Management";
    Layout = "~/Views/Shared/_layout_internal_admin.cshtml";
}

@section Styles{
    <link href="~/Content/overrides.css?t=@DateTime.Now.Millisecond.ToString()" rel="stylesheet" />
    <link href="~/Content/custom.css?t=@DateTime.Now.Millisecond.ToString()" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/admin.js"></script>
}

<div style="min-width: 1210px !important; max-width: 1500px !important; padding-top: 10px !important;" class="ui fluid container">
    <div style="padding-left: 10px !important; padding-right:10px !important;" class="ui grid">
        <div style="padding: 5px !important;" class="seven wide column">
            <table id="tbl_unassigned" class="ui celled table">
                <thead class="thead_custom">
                    <tr>
                        <th colspan="3">
                            Unassigned Applications
                        </th>
                    </tr>
                    <tr>
                        <th>Application ID</th>
                        <th>Created Date</th>
                        <th>Submitted By</th>
                    </tr>
                </thead>
                <tbody id="trows">
                    @if (Model.unassignedTasks.Count > 0)
                    {
                        for (int i = 0; i < Model.unassignedTasks.Count; i++)
                        {
                            <tr data-appid="@Model.unassignedTasks[i].application_id">
                                <td><input type="checkbox" class="check_task" value="" /> &nbsp;&nbsp; <a href="#"><i class="file alternate outline icon"></i> Task #@Model.unassignedTasks[i].application_id</a></td>
                                <td>@Model.unassignedTasks[i].created_date</td>
                                <td>@Model.unassignedTasks[i].submitted_by</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr id="fallback_msg_unassigned
                            " colspan="3">
                            <td>No unassigned applications found.</td>
                        </tr>
                    }
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <td colspan="3">
                            <div id="unassigned_action_dropdown" class="ui selection dropdown">
                                <input type="hidden" name="user">
                                <i class="dropdown icon"></i>
                                <div class="default text">Choose action</div>
                                <div class="menu">
                                    <div class="item" data-value="assign_engineer">
                                        Assign Engineer
                                    </div>
                                    <div class="item" data-value="delete">
                                        Delete
                                    </div>
                                </div>
                            </div>
                            <div id="assign_engineer_select" class="ui search selection dropdown display_invisible">
                                <input type="hidden" name="country">
                                <i class="dropdown icon"></i>
                                <div class="default text">Choose Engineer</div>
                                <div class="menu">
                                    @for (int i = 0; i < Model.engineerUsers.Count; i++)
                                    {
                                        <div class="item" data-value="@Model.engineerUsers[i].username">@Model.engineerUsers[i].name</div>
                                    }
                                </div>
                            </div>
                            <button id="btn_unassigned_apply" class="ui mini right floated button">Apply Changes</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div style="padding: 5px !important;" class="nine wide column">
            <table id="tbl_ongoing" class="ui celled table">
                <thead class="thead_custom">
                    <tr>
                        <th colspan="5">
                            Ongoing Tasks
                        </th>
                    </tr>
                    <tr>
                        <th>Application ID</th>
                        <th>Created Date</th>
                        <th>Assigned To</th>
                        <th>Date Assigned</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ongoingTasks.Count > 0)
                    {
                        for (int i = 0; i < Model.ongoingTasks.Count; i++)
                        {
                            <tr data-appid="@Model.ongoingTasks[i].application_id">
                                <td><input type="checkbox" class="check_task" value="" /> &nbsp;&nbsp; <a href="#"><i class="file alternate outline icon"></i> Task #@Model.ongoingTasks[i].application_id</a></td>
                                <td>@Model.ongoingTasks[i].created_date</td>
                                <td>@Model.ongoingTasks[i].assigned_to</td>
                                <td>@Model.ongoingTasks[i].date_assigned</td>
                                <td class="status_submitted">@Model.ongoingTasks[i].status</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr id="fallback_msg_ongoing" colspan="5">
                            <td> No ongoing applications found.</td>
                        </tr>
                    }
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <td colspan="5">
                            <div id="ongoing_action_dropdown" class="ui selection dropdown">
                                <input type="hidden" name="user">
                                <i class="dropdown icon"></i>
                                <div class="default text">Choose action</div>
                                <div class="menu">
                                    <div class="item" data-value="reassign_engineer">
                                        Reassign Engineer
                                    </div>
                                    <div class="item" data-value="move_unassigned">
                                        Move to unassigned
                                    </div>
                                </div>
                            </div>

                            <div id="reassign_engineer_select" class="ui search selection dropdown display_invisible">
                                <input type="hidden" name="country">
                                <i class="dropdown icon"></i>
                                <div class="default text">Choose Engineer</div>
                                <div class="menu">
                                    @for (int i = 0; i < Model.engineerUsers.Count; i++)
                                    {
                                        <div class="item" data-value="@Model.engineerUsers[i].username">@Model.engineerUsers[i].name</div>
                                    }
                                </div>
                            </div>

                            <button id="btn_ongoing_apply" class="ui mini right floated button">Apply Changes</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>