@model Typeapproval_UI.Models.SysAdminMainWrapper

@{
    Layout = "~/Views/Shared/_layout_internal_sysadmin.cshtml";
}

@section Styles{
    <link href="~/Content/overrides.css" rel="stylesheet" />
}

@section Scripts{
}

<div id="main_content" style="margin-left: 0px !important; margin-right: 0 !important; width:100% !important;" class="ui fluid container">
    <div style="margin-left:0; margin-right:0; margin-top:0; height:100% !important;min-height:0;" class="ui grid">
        <div class="row">
            <div class="four wide column">
                <h4 class="ui header">
                    <i class="blue history icon"></i>
                    <div class="content">
                        Activity
                    </div>
                </h4>
                <div class="content-scroll">
                    <div class="ui feed">
                        <div class="event">
                            <div class="label">
                                <img src="/images/avatar/small/elliot.jpg">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a class="user">
                                        Elliot Fu
                                    </a> added you as a friend
                                    <div class="date">
                                        1 Hour Ago
                                    </div>
                                </div>
                                <div class="meta">
                                    <a class="like">
                                        <i class="like icon"></i> 4 Likes
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="label">
                                <img src="/images/avatar/small/helen.jpg">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a>Helen Troy</a> added <a>2 new illustrations</a>
                                    <div class="date">
                                        4 days ago
                                    </div>
                                </div>
                                <div class="extra images">
                                    <a><img src="/images/wireframe/image.png"></a>
                                    <a><img src="/images/wireframe/image.png"></a>
                                </div>
                                <div class="meta">
                                    <a class="like">
                                        <i class="like icon"></i> 1 Like
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="label">
                                <img src="/images/avatar/small/jenny.jpg">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a class="user">
                                        Jenny Hess
                                    </a> added you as a friend
                                    <div class="date">
                                        2 Days Ago
                                    </div>
                                </div>
                                <div class="meta">
                                    <a class="like">
                                        <i class="like icon"></i> 8 Likes
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="label">
                                <img src="/images/avatar/small/joe.jpg">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a>Joe Henderson</a> posted on his page
                                    <div class="date">
                                        3 days ago
                                    </div>
                                </div>
                                <div class="extra text">
                                    Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                                </div>
                                <div class="meta">
                                    <a class="like">
                                        <i class="like icon"></i> 5 Likes
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="label">
                                <img src="/images/avatar/small/justen.jpg">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a>Justen Kitsune</a> added <a>2 new photos</a> of you
                                    <div class="date">
                                        4 days ago
                                    </div>
                                </div>
                                <div class="extra images">
                                    <a><img src="/images/wireframe/image.png"></a>
                                    <a><img src="/images/wireframe/image.png"></a>
                                </div>
                                <div class="meta">
                                    <a class="like">
                                        <i class="like icon"></i> 41 Likes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
               <div class="ui grid">
                   <div class="row">
                       <div class="four wide column">
                           <h4 class="ui header">
                               <i class="blue users icon"></i>
                               <div class="content">
                                   All users
                               </div>
                           </h4>
                       </div>
                       <div class="twelve wide column">
                           <button class="ui blue mini right floated  button">
                               <i class="plus icon"></i>
                               New user
                           </button>
                       </div>
                   </div>
               </div>

                <table class="ui table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Last seen</th>
                            <th>Role</th>
                            <th>Email</th>
                            <th>Created date</th>
                        </tr>
                    </thead>
                    <tbody id="staff-task-records">
                        @if (Model.userDetails.Count > 0)
                        {
                            for (int i = 0; i < Model.userDetails.Count; i++)
                            {
                        <tr>
                            <td>@Model.userDetails[i].username</td>
                            <td>@Model.userDetails[i].fullname</td>
                            <td>@Model.userDetails[i].last_detected_activity</td>
                            <td>@Model.userDetails[i].user_type</td>
                            <td>@Model.userDetails[i].email</td>
                            <td>@Model.userDetails[i].created_date</td>
                        </tr>
                            }
                        }
                        else
                        {
                            <tr class="row_hover">
                                <td style="text-align:center" colspan="6">No users found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>