@model List<Typeapproval_UI.Models.Manufacturer>

@{
    ViewData["Title"] = "New application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/step1-restore.js"></script>
}

@section Styles{
    <link href="~/Content/overrides.css" rel="stylesheet" />
}

@{
    var mode = "";
    if (Session["view_mode"] == null)
    {
        mode = "";
    }
    else if (Session["view_mode"].ToString() == "preview")
    {
        mode = "preview";
    }
    else if (Session["view_mode"].ToString() == "edit")
    {
        mode = "edit";
    }
}

<div class="ui container override">
    <div style="padding-left:10px !important; padding-right: 10px !important;" class="ui grid">
        <div class="four wide column">
            <div class="ui sticky _form">
                <div class="ui ignored small info message">
                    <div class="header">
                        Form controls
                    </div>
                    <p>This section allows you to <b>save</b> an incomplete application for later use. </p>
                </div>
                @{
                    if (mode == "preview")
                    {
                        <div class="fluid ui tiny buttons">
                            <button class="ui disabled blue button save_app s1">Save for later (Ctrl-S)</button>
                        </div>
                    }
                    else if (mode == "edit")
                    {
                        if (Session["save_state"] != null)
                        {
                            <div class="fluid ui tiny buttons">
                                <button class="ui blue button save_app s1">Update (Ctrl-S)</button>
                            </div>
                        }
                        else
                        {
                            <div class="fluid ui tiny buttons">
                                <button class="ui blue button save_app s1">Save for later (Ctrl-S)</button>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="fluid ui tiny buttons">
                            <button class="ui blue button save_app s1">Save for later (Ctrl-S)</button>
                        </div>
                    }
                }
                <div class="ui fluid card">
                    <div class="content">
                        <h4 class="ui header">
                            Saved Applications
                        </h4>
                    </div>
                    <div id="savedDocs" class="content">
                        <div class="ui tiny active centered inline text loader saved-docs">Getting info...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui one column grid">
                <div class="column">

                    <div class="ui tiny three top attached steps">
                        <div class="active step">
                            <i class="address card icon"></i>
                            <div class="content">
                                <div class="title">Applicant Information</div>
                                <div class="description">Enter applicant details</div>
                            </div>
                        </div>
                        <div class="readonly step">
                            <i class="hdd icon"></i>
                            <div class="content">
                                <div class="title">Equipment Information</div>
                                <div class="description">Description of Equipment</div>
                            </div>
                        </div>
                        <div class="readonly step">
                            <i class="upload icon"></i>
                            <div class="content">
                                <div class="title">Upload Files</div>
                                <div class="description">Add files relevant to this application</div>
                            </div>
                        </div>
                    </div>
                    @if (Session["application_id"] != null)
                    {
                        <div class="ui small attached warning message application">
                            <i class="info icon"></i>
                            Application saved with ID: <b>@Session["application_id"].ToString()</b>
                        </div>
                    }

                    <div id="context" class="ui clearing attached raised segment">
                        <a class="ui grey ribbon label">1. &nbsp Client Company</a>
                        <form class="ui form s1">
                            <div class="two fields">
                                <div class="field">
                                    <label>Name</label>
                                    <div class="ui left icon input">
                                        <input readonly name="applicant_name" type="text" value="@Session["applicant_name"].ToString()">
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Telephone</label>
                                    <div class="ui left icon input">
                                        <input name="applicant_telephone" type="text" value="@Session["applicant_tel"].ToString()">
                                        <i class="phone volume icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <label>Address</label>
                                    <div class="ui left icon input">
                                        <input name="applicant_address" type="text" value="@Session["applicant_address"].ToString()">
                                        <i class="address book icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Fax</label>
                                    <div class="ui left icon input">
                                        <input name="applicant_fax" type="text" value="@Session["applicant_fax"].ToString()">
                                        <i class="fax icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>City/Town</label>
                                    <div class="ui left icon input">
                                        <input name="applicant_city_town" type="text" value="@Session["applicant_city_town"].ToString()">
                                        <i class="map marker alternate icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Contact Person</label>
                                    <div class="ui left icon input">
                                        <input name="applicant_contact_person" type="text" value="@Session["applicant_contact_person"].ToString()">
                                        <i class="user circle icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Nationality</label>
                                    <div class="ui left icon input">
                                        <input name="applicant_nationality" type="text" value="@Session["applicant_nationality"].ToString()">
                                        <i class="globe icon"></i>
                                    </div>
                                </div>
                            </div>

                            <a class="ui grey ribbon label">2. &nbsp Manufacturer / Grantee</a>
                            <div class="two fields">
                                <div class="field">
                                    <label>Grantee<span class="required-label" style="color: red">&nbsp;*</span> <span style="margin-left:5px; font-style:italic; font-weight:100 !important; float:right; color:dimgrey;">not listed? add it <a style="cursor:pointer" id="add-grantee">here</a></span></label>

                                    <div class="ui selection dropdown grantees">
                                        <input type="hidden" name="gender">
                                        <i class="dropdown icon"></i>
                                        @if (Session["grantee_name"] != null)
                                        {
                                            <div class="text">
                                                @Session["grantee_name"].ToString()
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="default text">
                                                Select grantee
                                            </div>
                                        }

                                        <div class="menu">
                                            @if (Session["grantee_name"] != null)
                                            {
                                                for (int i = 0; i < Model.Count; i++)
                                                {
                                                    if (Model[i].name == Session["grantee_name"].ToString())
                                                    {
                                                        <div class="item active selected" data-addr="@Model[i].address" data-tel="@Model[i].telephone" data-fax="@Model[i].fax" data-person="@Model[i].contact_person" data-value="@Model[i].name">@Model[i].name</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="item" data-addr="@Model[i].address" data-tel="@Model[i].telephone" data-fax="@Model[i].fax" data-person="@Model[i].contact_person" data-value="@Model[i].name">@Model[i].name</div>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 0; i < Model.Count; i++)
                                                {
                                                    <div class="item" data-addr="@Model[i].address" data-tel="@Model[i].telephone" data-fax="@Model[i].fax" data-person="@Model[i].contact_person" data-value="@Model[i].name">@Model[i].name</div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label>Manufacturer Name<span class="required-label" style="color: red">&nbsp;*</span></label>
                                    <div class="ui left icon input">
                                        @if (mode == "preview")
                                        {
                                            <input readonly name="manufacturer_name" type="text">
                                        }
                                        else
                                        {
                                            <input name="manufacturer_name" type="text">
                                        }
                                        <i class="user circle icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field">
                                    <label>Address<span class="required-label" style="color: red">&nbsp;*</span></label>
                                    <div class="ui left icon input">
                                        @if (mode == "preview")
                                        {
                                            <input readonly name="grantee_address" type="text">
                                        }
                                        else
                                        {
                                            <input name="grantee_address" type="text">
                                        }
                                        <i class="address book icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <label>Telephone<span class="required-label" style="color: red">&nbsp;*</span></label>
                                    <div class="ui left icon input">
                                        @if (mode == "preview")
                                        {
                                            <input readonly name="grantee_telephone" type="text">
                                        }
                                        else
                                        {
                                            <input name="grantee_telephone" type="text">
                                        }
                                        <i class="phone volume icon"></i>
                                    </div>
                                </div>

                                <div class="field">
                                    <label>Fax</label>
                                    <div class="ui left icon input">
                                        @if (mode == "preview")
                                        {
                                            <input readonly name="grantee_fax" type="text">
                                        }
                                        else
                                        {
                                            <input name="grantee_fax" type="text">
                                        }
                                        <i class="fax icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Contact Person</label>
                                    <div class="ui left icon input">
                                        @if (mode == "preview")
                                        {
                                            <input readonly name="grantee_contact_person" type="text">
                                        }
                                        else
                                        {
                                            <input name="grantee_contact_person" type="text">
                                        }
                                        <i class="user circle icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="one field">
                                <button id="step1_to_next" type="button" class="ui tiny right floated right labeled icon submit button">
                                    <i class="right arrow icon"></i>
                                    Next
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="ui basic modal cancel-confirm">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Confirmation
    </div>
    <div class="content">
        <p style="text-align:center;">Are you sure you want to cancel this application? This action cannot be undone.</p>
    </div>
    <div class="actions">
        <div class="ui grey button">
            <i class="trash icon"></i>
            Decline
        </div>
        <div class="ui blue ok button">
            <i class="checkmark icon"></i>
            Confirm
        </div>
    </div>
</div>

<div id="add_grantee" class="ui tiny modal">
    <div class="header">
        <i class="building icon"></i>Add Grantee
    </div>
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Grantee name</label>
                    <input type="text" id="grant_name" placeholder="">
                </div>
                <div class="field">
                    <label>Address</label>
                    <input type="text" id="grant_address" placeholder="">
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Telephone</label>
                    <input type="text" id="grant_telephone" placeholder="">
                </div>
                <div class="field">
                    <label>Fax</label>
                    <input type="text" id="grant_fax" placeholder="">
                </div>
                <div class="field">
                    <label>Contact Person</label>
                    <input type="text" id="grant_person" placeholder="">
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui mini cancel button">
            Cancel
        </div>
        <div id="btn-addgrant-apply" class="ui mini right labeled icon blue ok button">
            Add grantee
            <i class="plus icon"></i>
        </div>
    </div>
</div>
