@model List<Typeapproval_UI.Models.AssignedTask>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout_internal_staff.cshtml";
}

@section Styles{
    <link href="~/Content/overrides.css" rel="stylesheet" />
}

<div style="margin-left: 0px !important; margin-right: 0 !important; width:100% !important; height: 100% !important;" class="ui fluid container">
    <table style="border-radius:0 !important; border:none !important;" class="ui small padded table">
        <thead class="thead_custom">
            <tr>
                <th>Application ID</th>
                <th>Created Date</th>
                <th>Date Assigned</th>
                <th>Submitted By</th>
                <th>Status</th>
                <th>Technical Specifications</th>
                <th>Test Report</th>
                <th>Accreditation Certificate</th>
            </tr>
        </thead>
        <tbody id="staff-task-records">
            @if (Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td><a class="link-bold"><i class="file alternate outline icon"></i>@Model[i].application_id</a></td>
                        <td>@Model[i].created_date</td>
                        <td>@Model[i].assigned_date</td>
                        <td>@Model[i].submitted_by</td>

                        @switch (Model[i].status)
                        {
                            case Typeapproval_UI.Commons.Constants.INCOMPLETE_TYPE:
                                <td class="status_incomplete">@Model[i].status</td>
                                break;
                            case Typeapproval_UI.Commons.Constants.PENDING_TYPE:
                                <td class="status_pending">@Model[i].status</td>
                                break;
                            case Typeapproval_UI.Commons.Constants.INVOICED_TYPE:
                                <td class="status_invoiced">@Model[i].status</td>
                                break;
                            case Typeapproval_UI.Commons.Constants.REJECTED:
                                <td class="status_rejected">@Model[i].status</td>
                                break;
                            case Typeapproval_UI.Commons.Constants.LICENSED_TYPE:
                                <td class="status_licensed">@Model[i].status</td>
                                break;
                            case Typeapproval_UI.Commons.Constants.SUBMITTED_TYPE:
                                <td class="status_submitted">@Model[i].status</td>
                                break;
                            default:
                                <td>@Model[i].status</td>
                                break;
                        }

                        <td><a href="/staff/get/@Model[i].applicationFiles[0].file_id" class="link_override_v1" style="cursor:pointer !important;"><i class="file pdf icon"></i>@Model[i].applicationFiles[0].filename</a></td>
                        <td><a href="/staff/get/@Model[i].applicationFiles[1].file_id" class="link_override_v1" style="cursor:pointer !important;"><i class="file pdf icon"></i>@Model[i].applicationFiles[1].filename</a></td>
                        <td><a href="/staff/get/@Model[i].applicationFiles[2].file_id" class="link_override_v1" style="cursor:pointer !important;"><i class="file pdf icon"></i>@Model[i].applicationFiles[2].filename</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td style="text-align: center;" colspan="8">
                        You have no assigned tasks yet. Check back later...
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>