<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <link href="~/Content/site.css?t=@DateTime.Now.Millisecond" rel="stylesheet" />
    <link href="~/Content/search_result_styles.css?t=@DateTime.Now.Millisecond" rel="stylesheet" />
    @RenderSection("styles", false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div style="border: none !important" class="ui borderless large menu">
        <div class="header item">
            <i style="color: #2185D0;">Task Management</i>
        </div>
        <div style="font-size: 13px !important; font-style: italic !important;" class="right menu">
            <div class="ui item">
                Signed in as:&nbsp;&nbsp;<b>@Session["name"]</b>
            </div>
            <div style="margin-right: 15px !important;" class="ui item">
                <a style="text-decoration:underline !important;" id="sign_out" href="#">sign out</a>
            </div>
        </div>
    </div>
    @RenderBody()

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    <script src="~/Scripts/jquery.marcopolo.min.js"></script>
    <script src="~/Scripts/site.js?t=@DateTime.Now.Millisecond"></script>
    @RenderSection("Scripts", false)
</body>
</html>
