<!DOCTYPE html>
<head>
    @{
        if (Session["key"] == null)
        {
            Response.Redirect("~/account");
        }
    }
    <title>@ViewBag.Title</title>
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <link href="~/Content/site.css?t=@DateTime.Now.Millisecond" rel="stylesheet" />
    <link href="~/Content/search_result_styles.css?t=@DateTime.Now.Millisecond" rel="stylesheet" />
    @RenderSection("styles", false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="ui tiny top inverted borderless menu">
        <div class="ui fluid container">
            <a class="header item" href="~/grid">
                <i class="th icon"></i>
                Main
            </a>
            <a class="header item" href="~/home">
                <i class="home icon"></i>
                Dashboard
            </a>
            <div class="item">
                <div class="ui small fluid category search">
                    <div class="ui icon input">
                        <input style="width:300px;" class="prompt" type="text" placeholder="Search applications...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <a class="header item" href="~/new/step-1" data-content="Create a new Type Approval application" data-position="bottom center" data-variation="inverted mini">
                <i class="sticky note icon"></i>
                New
            </a>

            <div class="right menu">
                <div class="ui top left pointing dropdown item" data-position="bottom center" data-variation="inverted mini">
                    <img class="ui foursquare image" src="~/Content/images/avatar.png" width="20" height="20" />
                    <i class="dropdown icon"></i>
                    <div class="menu transition">
                        <div class="user header">
                            Signed in as <b>@Session["name"]</b>
                        </div>
                        <div class="divider"></div>
                        <a id="sign_out" class="item">
                            <i class="sign-out icon"></i>
                            Sign Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    <script src="~/Scripts/jquery.marcopolo.min.js"></script>
    <script src="~/Scripts/site.js?t=@DateTime.Now.Millisecond"></script>
    @RenderSection("Scripts", false)
</body>
