@model ICollection<Typeapproval_UI.Models.TypeApproval>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search results</title>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
<body>

    <div class="ui container">
        <h4 id="search_results_title">Search Results</h4>
        @if (Model.Count > 0)
        {
            <table class="ui striped table" id="type_approval_results_">
                <thead>
                    <tr>
                        <th>Client Company</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Description</th>
                        <th>Address</th>
                        <th>Authorization Notes</th>
                        <th>Issue Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="staff-task-records">
                    @foreach (var item in Model)
                    {
                        <tr data-appid="@item.approval_id" class="cert-view">
                            <td>@item.clientCompany</td>
                            <td>@item.Dealer</td>
                            <td>@item.Model</td>
                            <td>@item.Description</td>
                            <td>@item.Address2</td>
                            <td>@item.Remarks</td>
                            <td>@item.issueDate.ToString("MM/dd/yyyy")</td>
                            <td><a href="/certificates-sma?approval_id=@item.approval_id"><i class="file alternate icon"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p style="text-align:center; margin:0; padding:0; color:#6D676E;">No records found for current search criteria.</p>
        }
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".cert-view").click(function () {
                window.location = "/certificates-sma?approval_id=" + $(this).data("appid");
            });
        });
    </script>
</body>
</html>
